body {
  margin: 0;
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

.breadcrumb-container {
  max-width: 1240px;
  margin: 16px auto; }

.breadcrumb {
  font-size: 14px;
  color: #666666;
  display: flex;
  align-items: center;
  list-style-image: url("../Images/next.svg"); }
  .breadcrumb ul {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .breadcrumb li {
    margin: 0 32px 0 0;
    float: left; }
    .breadcrumb li:first-child {
      list-style-type: none;
      list-style-image: url(); }
    .breadcrumb li:last-child {
      font-weight: bold; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

.product-container {
  max-width: 1240px;
  margin: 16px auto;
  background-color: #FFFFFF;
  position: relative;
  padding-bottom: 16px; }

.img-container {
  margin: 32px;
  display: inline-block;
  width: 680px; }
  .img-container img {
    width: 100%;
    height: auto; }

.title-container {
  width: 30%;
  display: inline-block;
  position: absolute;
  right: 32px;
  margin-top: 32px; }
  .title-container span {
    font-size: 14px; }
  .title-container h1 {
    font-size: 24px;
    font-style: bold; }

.price-container {
  display: inline-block;
  margin-top: 32px;
  font-size: 46px; }
  .price-container p {
    display: inline-block; }

.decimals {
  font-size: 24px;
  position: relative;
  bottom: 16px; }

.buybtn {
  width: 100%;
  font-size: 16px;
  padding: 16px;
  border: none;
  color: #FFFFFF;
  background: #3483fa;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  display: inline-block; }

.description-title {
  font-size: 28px;
  margin-left: 32px; }

.description {
  width: 60%;
  font-size: 16px;
  color: #666666;
  margin-left: 32px; }

header {
  height: 54px;
  background-color: #bc3b69;
  box-sizing: border-box;
  display: flex;
  justify-content: center; }

.main-header-container {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo-container {
  height: 36px;
  width: 53px;
  display: inline-block; }
  .logo-container img {
    height: 100%;
    width: auto; }

.search-container {
  height: 36px;
  width: 92%;
  display: inline-block; }

input {
  color: #666666;
  height: 38px;
  font-size: 18px;
  width: 94%;
  padding: 0 7px;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 4px 0 0 4px; }

.search-button {
  background-color: #eeeeee;
  height: 38px;
  width: 42px;
  position: absolute;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 0 2px 2px 0; }
  .search-button img {
    height: 50%;
    width: auto; }

body {
  margin: 0;
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

.result-container {
  max-width: 1240px;
  margin: 16px auto;
  padding-top: 16px;
  background-color: #FFFFFF;
  position: relative; }

.img-query {
  height: 180px;
  width: 180px;
  border-radius: 4px;
  display: inline-block;
  padding: 16px; }
  .img-query img {
    height: 100%;
    width: 100%;
    border-radius: 4px; }

.price-result {
  font-size: 18px;
  color: #333333;
  display: inline-block;
  position: absolute;
  top: 32px; }
  .price-result sup {
    font-size: 12px; }

.title-result {
  position: absolute;
  top: 100px;
  font-size: 18px;
  color: #333333;
  display: inline-block; }

.price-result img {
  margin-left: 16px; }
