* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

.breadcrumb-container {
  max-width: 1240px;
  margin: 16px auto; }

.breadcrumb {
  font-size: 14px;
  color: #666666;
  align-items: center;
  list-style-image: url("../Images/next.svg"); }
  .breadcrumb ul {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .breadcrumb li {
    margin: 0 32px 0 0;
    float: left; }
    .breadcrumb li:last-child {
      font-weight: bold; }
