@import '../App.scss';
  
  .breadcrumb-container {
    max-width: $max-width;
    margin: $margin-small auto;
  }
  
  .breadcrumb {
    ul {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      &:first-child {
        list-style-type: none;
        list-style-image: url();
      }
      &:last-child {
        font-weight: bold;
      }
      margin: 0 $margin-large 0 0;
      float: left;
    }
    font-size: $breadcrumb-font;
    color: $gray-40;
    display: flex;
    align-items: center;
    list-style-image: url('../Images/next.svg');
  }



 