$max-width: 1240px;
$margin-large: 32px;

$margin-small: 16px;
$margin-title: 86px;
$white: #FFFFFF;
$gray: #eeeeee;
$gray-60: #333333;
$gray-40: #666666;
$results-location-font: 12px;
$results-location-font-color: $gray-40;
$results-title-font: 18px;
$results-price-font: 24px;
$results-img: 180px;
$img-results: 180px;
$img-border-radius: 4px;
$gray: #eeeeee;
$font-type: 'Lato', sans-serif;

body {
    margin: 0;
    background-color: $gray; 
    font-family: $font-type;
  }

.result-container {
  border: 1px solid $gray;
  max-width: $max-width;
  margin: auto;
  background-color: $white;
  position: relative;
  border-radius: $img-border-radius;
}

.img-query {
  height: $img-results;
  width: $img-results;
  border-radius: $img-border-radius;
  display: inline-block;
  padding: $margin-small;

  img {
    height: 100%;
    width: 100%;
    border-radius: $img-border-radius;
  }
}

.price-result {
  font-size: $results-price-font;
  color: $gray-60;
  display: inline-block;
  position: absolute;
  top: $margin-large;
  sup {
    font-size: $results-location-font;
  }
}


.title-result {
  position: absolute;
  top: $margin-title;
  height: auto;
  font-size: $results-title-font;
  color: $gray-60;
  display: inline-block;
  max-width: 350px;
}

.price-result img {
  margin-left: $margin-small;
}

.location-result {
  display: inline-block;
  position: absolute;
  right: 90px;
  padding: 50px 0;
  font-size: $results-location-font;
  color: $results-location-font-color;
}