@import '../App.scss';


.result-container {
  border: 1px solid $gray;
  max-width: $max-width;
  margin: auto;
  background-color: $white;
  position: relative;
  border-radius: $img-border-radius;
}

.img-query {
  height: $img-results;
  width: $img-results;
  display: inline-block;
  padding: $margin-small;

  img {
    height: 100%;
    border-radius: $img-border-radius;
    width: 100%;
  }
}

.price-result {
  font-size: $results-price-font;
  color: $gray-60;
  display: inline-block;
  position: absolute;
  top: $margin-large;
  sup {
    font-size: $results-location-font;
  }
}


.title-result {
  position: absolute;
  top: $margin-title;
  height: auto;
  font-size: $results-title-font;
  color: $gray-60;
  display: inline-block;
  max-width: 350px;
}

.price-result img {
  margin-left: $margin-small;
}

.location-result {
  display: inline-block;
  position: absolute;
  right: 90px;
  padding: 50px 0;
  font-size: $results-location-font;
  color: $results-location-font-color;
}
