* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

.result-container {
  border: 1px solid #eeeeee;
  max-width: 1240px;
  margin: auto;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 4px; }

.img-query {
  height: 180px;
  width: 180px;
  display: inline-block;
  padding: 16px; }
  .img-query img {
    height: 100%;
    border-radius: 4px;
    width: 100%; }

.price-result {
  font-size: 24px;
  color: #333333;
  display: inline-block;
  position: absolute;
  top: 32px; }
  .price-result sup {
    font-size: 12px; }

.title-result {
  position: absolute;
  top: 86px;
  height: auto;
  font-size: 18px;
  color: #333333;
  display: inline-block;
  max-width: 350px; }

.price-result img {
  margin-left: 16px; }

.location-result {
  display: inline-block;
  position: absolute;
  right: 90px;
  padding: 50px 0;
  font-size: 12px;
  color: #666666; }
